.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50vh;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
  }
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: var(--color-white);
  border-bottom: var(--line);

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $bp-smallest) {
    flex-wrap: wrap;
    align-content: space-around;
    height: 10rem;
  }
}

.content {
  display: flex;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: var(--color-white);
  flex: 1;
}

.details {
  font-size: 1.4rem;
  display: flex;
  background-color: var(--color-grey-light-1);
  padding: 4.5rem;

  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
    padding: 2rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    padding: 1.5rem;
  }
}

.description {
  flex: 0 0 60%;
  background-color: var(--color-white);
  margin-right: 4.5rem;
  padding: 3rem;
  box-shadow: var(--shadow-light);

  @media only screen and (max-width: $bp-medium) {
    margin-right: 3rem;
    padding: 2rem;
  }

  @media only screen and (max-width: $bp-small) {
    margin-right: 0;
    margin-bottom: 3rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    margin-bottom: 2rem;
    padding: 1.5rem;
  }
}

.user-reviews {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}
